%article.video_category
  %header
    %h3= link_to "TV Commedies"
  .videos.row
    - 6.times do
      .video.col-sm-2
        = link_to "", nil do
          %img(src="/tmp/#{['futurama', 'south_park', 'family_guy', 'small_cover_aliens', 'small_cover_matrix', 'small_cover_dark_knight'].sample}.jpg")

%article.video_category
  %header
    %h3= link_to "TV Dramas"
  .videos.row
    - 6.times do
      .video.col-sm-2
        %img(src="/tmp/#{['futurama', 'south_park', 'family_guy', 'small_cover_aliens', 'small_cover_matrix', 'small_cover_dark_knight'].sample}.jpg")

%article.video_category
  %header
    %h3= link_to "Reality TV"
  .videos.row
    - 6.times do
      .video.col-sm-2
        %img(src="/tmp/#{['futurama', 'south_park', 'family_guy', 'small_cover_aliens', 'small_cover_matrix', 'small_cover_dark_knight'].sample}.jpg")
